<?xml version="1.0"?>
<config>
    <modules>
        <BHS_RealShop>
            <version>0.1.0</version>
        </BHS_RealShop>
    </modules>
    <global>
        <models>
            <bhs_realshop>
                <class>BHS_RealShop_Model</class>
                <resourceModel>bhs_realshop_resource</resourceModel>
            </bhs_realshop>
            <bhs_realshop_resource>
                <class>BHS_RealShop_Model_Resource</class>
                <entities>
                    <bhs_realshop>
                        <table>bhs_realshop</table>
                    </bhs_realshop>
                </entities>
            </bhs_realshop_resource>
        </models>
        <resources>
            <bhs_realshop_setup>
                <setup>
                    <module>BHS_RealShop</module>
                </setup>
            </bhs_realshop_setup>
            <bhs_realshop_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bhs_realshop_read>
            <bhs_realshop_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bhs_realshop_write>
        </resources>
        <blocks>
            <bhs_realshop>
                <class>BHS_RealShop_Block</class>
            </bhs_realshop>
        </blocks>
        <helpers>
            <bhs_realshop>
                <class>BHS_RealShop_Helper</class>
            </bhs_realshop>
        </helpers>
    </global>
    <frontend>
        <routers>
            <bhs_realshop>
                <use>standard</use>
                <args>
                    <module>BHS_RealShop</module>
                    <frontName>realshop</frontName>
                </args>
            </bhs_realshop>
        </routers>
        <layout>
            <updates>
                <bhs_realshop>
                    <file>bhs_realshop.xml</file>
                </bhs_realshop>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <bhs_realshop after="Mage_Adminhtml">BHS_RealShop_Adminhtml</bhs_realshop>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>